<div class="bg-light rounded-top p-4 my-3"  th:fragment="footer">
					<div class="row">
						<div class="col-12 col-sm-6 text-center text-sm-start">
							&copy; <a href="#">Aish Shoping House</a>, All Right Reserved.
						</div>
						<div class="col-12 col-sm-6 text-center text-sm-end">
							<!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
							Designed By <a href="https://htmlcodex.com">Jitendra Shukla</a> </br>
							Distributed By <a class="border-bottom"
								href="#" target="_blank">Precise Automation And Robotics </a>
						</div>
					</div>
				</div>